table td {
    width: 100px;
    height: 100px;
    font-size: 32pt;
    vertical-align: middle;
    text-align: center;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thickBottom td {
    border-bottom: 2px solid #000;
}

.thickRight {
    border-right: 2px solid #000;
}

.highlight {
    color: red;
}
