@(version: Option[String], registered: Boolean)

<div class="row">
    <h1 align="center">Tic-Tac-Toe</h1>
    <table id="board" align="center">
        <tbody>
            <tr class="thickBottom">
                <td id="cell00" class="thickRight"></td>
                <td id="cell01" class="thickRight"></td>
                <td id="cell02"></td>
            </tr>
            <tr class="thickBottom">
                <td id="cell10" class="thickRight"></td>
                <td id="cell11" class="thickRight"></td>
                <td id="cell12"></td>
            </tr>
            <tr>
                <td id="cell20" class="thickRight"></td>
                <td id="cell21" class="thickRight"></td>
                <td id="cell22"></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="instructionPanel" class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-info">
            <span id="instructionMessage"></span>
            <img id="spinner" src='@routes.Assets.versioned("images/spinner.gif")' alt="spinner"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <button id="startButton" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-play" aria-hidden="true"></i>
            Start
        </button>
    </div>
</div>
@if(registered) {
    <br />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <lable class="control-label" for="username">Username:</lable>
            <input class="form-control" type="text" id="username">
        </div>
    </div>
}
<div id="errorPanel" class="row navbar-fixed-bottom">
    <div class="col-md-offset-1 col-md-10">
        <div class="alert alert-danger">
            <span id="errorMessage"></span>
        </div>
    </div>
</div>
