@import controllers.AuthenticationController._
@import views.html.helper.bootstrap._

@(version: String, user: Option[User])(loginForm: Form[LoginData])(implicit request: RequestHeader, messages: Messages)

@main("Tic-Tac-Toe", version, user) {
    <div class="row">

        <div class="col-md-offset-2 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Casual Games</h3>
                </div>
                <div class="panel-body">

                    <p>
                        Click below to play ad-hoc games without creating an account.
                        You will <b>not</b> be able to participate in the leaderboard when playing
                        ad-hoc games.
                    </p>

                    <a href="@controllers.routes.TicTacToeController.unregisteredGame" class="btn btn-sm btn-default">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        Play
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Serious Games</h3>
                </div>
                <div class="panel-body">
                    @if(user.isDefined) {
                        <p>
                            Since you have an account and you are logged in, click below to play serious games
                            and try to conquer the leaderboard.
                        </p>
                        <a href="@controllers.routes.TicTacToeController.registeredGame" class="btn btn-sm btn-default">
                            <i class="fa fa-play" aria-hidden="true"></i>
                            Play
                        </a>
                    } else {
                        <p>
                            If you have account, you will be able to play games and
                            participate in the leaderboard.
                        </p>

                        @helper.form(action = controllers.routes.AuthenticationController.login(), 'novalidate -> "") {

                        <div class="has-error">
                            @if(loginForm.globalErrors.length == 1) {
                            <span class="help-block">@loginForm.globalErrors.head.message</span>
                            }

                            @if(loginForm.globalErrors.length > 1) {
                            <ul>
                                @for(error <- loginForm.globalErrors) {
                                <li><span class="help-block">@error.message</span></li>
                                }
                            </ul>
                            }
                        </div>

                        @helper.inputText(
                        loginForm(USERNAME_KEY),
                        '_label -> "Username",
                        '_help -> "Please enter your username")

                        @helper.inputPassword(
                        loginForm(PASSWORD_KEY),
                        '_label -> "Password",
                        '_help -> "Please enter your password")

                        <button id="signInButton" type="submit" class="btn btn-sm btn-primary">Sign in</button>

                        @if(user.isDefined) {
                            <a href="@controllers.routes.TicTacToeController.registeredGame" class="btn btn-sm btn-default">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                Play
                            </a>
                        }

                        <hr />

                        <p>No account ? Click below to create one.</p>

                        <a href="@controllers.routes.TicTacToeController.registration" class="btn btn-sm btn-default">Register</a>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
}
