@(leaders: Seq[models.LeaderboardEntry])

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Leaderboard</h3>
    </div>
    <div class="panel-body">
        <table id="leaderboard">
            <thead>
            <tr>
                <th>Username</th>
                <th>Played</th>
                <th>Won</th>
                <th>Drawn</th>
                <th>Lost</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            @for(leader <- leaders) {
            <tr>
                <td>@leader.username</td>
                <td class="numeric">@leader.played</td>
                <td class="numeric">@leader.numWon</td>
                <td class="numeric">@leader.numDrawn</td>
                <td class="numeric">@leader.numLost</td>
                <td class="numeric">@leader.points</td>
            </tr>
            }
            </tbody>
        </table>

        <br />

        <button id="refreshLeaderboardButton" type="button" class="btn btn-sm btn-success">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Refresh
        </button>
    </div>
</div>
