@(leaders: Seq[models.LeaderboardEntry])

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Leaderboard</h3>
    </div>
    <div class="panel-body">
        <table id="leaderboard">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                </tr>
            </thead>
            <tbody>
                @for(leader <- leaders) {
                    <tr>
                        <td>@leader.username</td>
                        <td>@leader.numWon</td>
                        <td>@leader.numDrawn</td>
                        <td>@leader.numLost</td>
                    </tr>
                }
            </tbody>
        </table>
        <button id="refreshLeaderboardButton" type="button" class="btn btn-sm btn-success">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Refresh
        </button>
    </div>
</div>
