@import models.LeaderboardEntry

@(version: Option[String], leaders: Seq[LeaderboardEntry])

<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac-Toe</title>
    <script src='@routes.Assets.versioned("jquery/jquery.js")'></script>
    <script src='@routes.Assets.versioned("polyfill/polyfill.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/tictactoe.js")'></script>
    <link href='@routes.Assets.versioned("bootstrap/bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("stylesheets/main.css")' rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
</head>
<body>
<br >
<br >
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right"><i><small>(version: @version.getOrElse("?"))</small></i></span>
        </div>
    </div>
    <br >
    <div class="row">
        <div class="col-md-8">
            @boardWidget(version, true)
        </div>
        <div class="col-md-4">
            @leaderboardWidget(leaders)
        </div>
    </div>
</div>
</body>
</html>
