@import controllers.AuthenticationController._
@import views.html.helper.bootstrap._

@(version: String, user: Option[User])(registrationForm: Form[RegistrationData])(implicit request: RequestHeader, messages: Messages)

@main("Registration", version, user) {
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">

                @helper.form(action = controllers.routes.AuthenticationController.register(), 'novalidate -> "") {

                <div class="has-error">
                    @if(registrationForm.globalErrors.length == 1) {
                    <span class="help-block">@registrationForm.globalErrors.head.message</span>
                    }

                    @if(registrationForm.globalErrors.length > 1) {
                    <ul>
                        @for(error <- registrationForm.globalErrors) {
                        <li><span class="help-block">@error.message</span></li>
                        }
                    </ul>
                    }
                </div>

                @helper.inputText(
                registrationForm(USERNAME_KEY),
                '_label -> "Username",
                '_help -> "Please enter your chosen username")

                @helper.inputPassword(
                registrationForm(PASSWORD_KEY),
                '_label -> "Password",
                '_help -> "Please enter your chosen password")

                @helper.inputPassword(
                registrationForm(PASSWORD2_KEY),
                '_label -> "Password again",
                '_help -> "Please confirm your password")

                <button id="registerButton" type="submit" class="btn btn-sm btn-primary">Register</button>
                }
            </div>
        </div>
    </div>
</div>
}
